.home_one
{
    position: relative;
    width: 100%;
    min-height: 110vh;
    background: linear-gradient(to right, #131370, #008EE2);
    overflow: hidden;
    z-index:5;
    padding:14rem 0;

   
   &_h1{
        font-size:6.5rem;

        @media (max-width:960px){
            font-size:5rem;
        }

    }

    &_p{
        font-size:2rem;
        padding:1rem 0;
    }

    &_small{
        font-weight:550;
        font-size:1.6rem;
        line-height: 1.8;
    }

    @media (max-width:768px){
        &_img{
            margin-top:6rem;
        }
    }
}

.text_warning{
    
    color: #ec522c !important;
    
}