.two{
    position:relative;
    width:100%;
    padding:8rem 0px 4rem 0;
    
}

.box{
    display: flex;
    padding:1rem;
    width:85%;
    border-radius:8rem;
    background:#DEDEDE;
    transition: all .4s;

    @media(max-width:450px){
        width:100%;
        margin-left: 0 !important;
    }
    
    &:not(:last-child){
        margin-bottom:2rem;
    }

    &_box{
        align-self:center;
        padding:0 1.5rem;
    }


   
    
    &_h3{
        font-size: 1.7rem;
        font-weight:800;
        color:rgb(0,0,0);
        cursor: default;
        

        @media(max-width:350px){
            font-size:1.5rem;
        }
}

    &_p{
        padding:0;
        margin:0;
        font-size:1.2rem;
        font-weight:500;
        color:rgba(0,0,0,.4);
        cursor: default;
        
    }
    
    &:nth-child(1){
        margin-left:5rem;
    }
    &:nth-child(3){
        margin-left:5rem;
    }
    
    &:hover{
        background:#0011FF;
        box-shadow:0px 3px 5px rgba(0,0,0,.4);
        transform:translateY(-3px) scale(1.01);
        .box_h3,
        .box_p{
            color:rgba(255, 255, 255, 0.9) !important;
        }
    }


}


.content{
    position:relative;
    margin:1rem auto;
    width:95%;
    display:flex;
    align-items: center;
    min-height:47vh;
    overflow:hidden;
    background:linear-gradient(to right,#FC4F21,#CA1800);
    padding:2rem 6rem;
    border-radius:3rem;
    box-shadow:0px 2px 15px rgba(0,0,0,.3);

    @media (max-width:960px){
        flex-direction:column;
        padding:0;
        width:100%;
        
    }

    &_img{
        position:absolute;
        right:0;
        bottom:0;
        
        @media(max-width:960px){
            position:relative;
            
        }
    }

    &_img_box{
        width:100%;
        height:100%;
        @media(max-width: 960px){
            position: relative;
            display:flex;
            justify-content: flex-end;
            padding-top:12rem;
        }
    }
    

   
    
    
    
    
    &_box{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        
        @media(max-width:960px){
            top:34%;
        }
        
        
    }
    
    

    &_h1{
        font-size:3.3rem;
        width:45%;
        line-height:1.5;
        color:#ffffff;
        font-weight:900;
        
        @media(max-width:960px){
            width:60%;
            margin:3rem 0;
        }

        @media(max-width: 680px){
            font-size:2.2rem;
            width:60%;
        }
                
        
    }

    &_play{
        width:2rem;
        margin-left:.4rem;

        @media(max-width:400px){
            width:1.5rem;
        }
    }

    
    &_link{
        display:inline-block;
        background: #ffffff;
        padding:2.3rem;
        border-radius:50%;
        position:relative;

        
        


        &::after,
        &::before{
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:#fff;
            border-radius:50%;
        }

        &::after{
            z-index:-1;
            animation: animate 1.4s ease-in-out  infinite;
            
        }

        &::before{
            z-index:-2;
            animation: animate 1.5s ease-in-out infinite;
            animation-delay: .4s;
        }

        @keyframes animate{
            0% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            }
            
            70% {
                
                box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
            }
            
            100% {
                
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            }
        }
       

    }

}

.bg_wight{
    background:linear-gradient(rgba(#fff, .11), rgba(#fff, .01));
    position:absolute;
    width:100%;
    height:30%;
    left:0;
    top:10%;
    clip-path: polygon(0 0, 100% 20%, 100% 60%, 0 100%);
    transform:rotate(-3deg);

   
    
}

.bg_wight_2{
    
    top:40% !important;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 40% 0%) !important;
    
}
