.six{
    position:relative;
    padding:7rem 0;

    &_p{
        font-size:1.4rem;
        color:rgba(0,0,0,.4);
        text-align:center;
        width:50%;
        margin:0rem auto;
        font-weight:bold;
    }
}

.content_card{
    padding:10rem 5rem;
    position:relative;
    
    @media (max-width:400px){
        padding:10rem 4rem;
    }
    @media (max-width:350px){
        padding:10rem 0rem;
    }

}

.card{
    width:100%;
    position:relative;
    padding:0rem 3rem 2rem 3rem;
    background: #fff;
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    
    &_box{
        
        

        &_img{
            width:8rem;
            border-radius:50%;
            display:inline-block;
            margin-top:-4rem;
            box-shadow:0 -2px 4px rgba(0,0,0,.1);
            
        }
    }

    &_quote{
        position:relative;
        text-align:left;
        padding:1rem 0;

        &_img{
            display:inline-block;
            width:5rem;
        }
    }


    &_p{
        font-size:1.5rem;
        font-weight:bold;
        color: rgba(0,0,0,.5);
    }

    &_content{
        display:flex;
        justify-content: space-between;
        background:#E5E5E5;
        align-items: center;
        padding:1rem 2rem;

        @media (max-width:450px){
            flex-direction:column;
        }
        
    }

    &_h5{
        font-size:1.5rem;
        font-weight:900;
        margin:0;


    }

    &_small{
        color:rgba(0,0,0,.5);
        margin:0;
        padding:0;
    }

    &_star{
        

        &_img{
            width:1.8rem;
            display:inline-block;
        }

        &_img:not(:last-child){
            margin-right:.5rem;
        }

    }
}

.card_2{
    @media (max-width:400px) {
        margin-top:4rem;
    }
}

.bg{
    position:absolute;
    left:-3.5rem;
    top:-8rem;
    &_img{
        width:16rem;
        
    }

    @media (max-width:400px){
        left:4.75rem;

    }

    @media (max-width:350px){
        display:none;
    }    
    
}

.bg_2{
    z-index: -1;
    position:absolute;
    bottom:-6rem;
    right:-3.5rem;

    &_img_2{
        width:16rem;
    }

    @media (max-width:400px){
        left:4.75rem;
        top:-4rem;
    }

    @media (max-width:350px){
        display:none;
    }    
}



.blog{
    position:relative;
    

    &_card{
        overflow:hidden;
        width:82%;
        margin:2rem auto;
        border-radius:1rem;
        position:relative;
        background:#fff;
        box-shadow:0 2px 6px rgba(0,0,0,.2);
    }

    &_img_box{
        padding:0;
        align-items: center;
        text-align:center;
        align-self:center;
        overflow:hidden;
    }

    &_text_box{
        display: flex;
        padding:1rem 3rem;

        @media (max-width:420px){
            padding:1rem;
        }
    }

    &_h5{
        margin:1rem 0;
        font-size:1.8rem;
        font-weight:bold;
        color:#1B1AA0;
        line-height: 1.5;
        letter-spacing: .1rem;
    }

    &_content{
        display:flex;
        background:#E5E5E5;
        padding:.8rem 2rem;
        align-items:center;

        @media (max-width:370px){
            justify-content: center;
            flex-direction: column;
        }
        

        &_img{
            width:6rem;
            border-radius:50%;

            @media (max-width:370px){
                margin-bottom:2rem;
            }
        }
    }

    &_span{
        padding:.5rem 2.5rem;
        font-size:1.4rem;
        font-weight:bold;
        color:#FE6C0C;

        &:not(:first-child){
            border-left:1px solid rgba(0,0,0,.2);
        }

        @media (max-width:370px){
            padding:.5rem;
            font-size:1.2rem;
            
        }
    }

    &_img{
        transition:all .4s;
    }

}


.repeat{
    position:absolute;
    z-index:-5;
    width:18rem;
    height:25rem;
    overflow:hidden;
    top:20%;
    left:40%;
}

.next{
    @media (max-width:370px){
        text-align: right !important;
    }
}

.bg_darkley{
    background:#1B1AA0;
    opacity:0;
    transition:all .5s;
    
}


.blog_card:hover{
    .blog_img{
        transform:scale(1.05);
    }
    .bg_darkley{
        opacity:.4;
    }
}