
.h1{
    color: #FF6600 !important;
    font-weight:bold;
    display:flex;
    justify-content:center;
}

.i{
    margin:0 1.5rem;
    align-self:center;
    border-radius:3rem;
    width:4rem;
    height:.4rem;
    background:#FF6600;
}

.h5{
    color:rgb(0,0,0);
    text-align:center;
    font-weight:900;
    font-size:2rem;
    padding:1.5rem 0;
    line-height:1.5;
}

