.five{
    position:relative;
    overflow:hidden;
    min-height: 85vh;
    display: flex;
    justify-content: center;

    &_content{
        position:relative;
        align-self: center;
        
    }

    &_box{
        position:relative;
        margin:2rem auto;
        
        &_img{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            z-index:-1;
            opacity: .2;

            &_img{
                width:80rem;
            }
        }
    }

    
}

.img{
    z-index:"-15";
    animation: yurish 10s linear 0s infinite;

    @media (max-width:700px){
        width:10rem;
    }

}


.imgx{
    z-index:"-15";
    animation: aylan 13s linear 0s infinite;

    @media (max-width:700px){
        width:5rem;
    }

}

@keyframes aylan{
    from{transform:rotate(0deg)};
    to{transform:rotate(360deg)};
}
@keyframes yurish{
    0%{transform:translateX(0rem)}
    50%{transform:translateX(4rem)}
    100%{transform:translateX(0rem)}
}

