.five{
    position:relative;
    overflow:hidden;
    min-height: 85vh;
    display: flex;
    justify-content: center;

    &_content{
        position:relative;
        align-self: center;
        
    }

    &_box{
        position:relative;
        margin:2rem auto;
        
        &_img{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            z-index:-1;
            opacity: .2;

            &_img{
                width:80rem;
            }
        }
    }

    
}

