.footer{
    position:relative;
    background:#1B1B1B;

    &_box{
        position:relative;
        align-items: center;
        
    }

    &_h1{
        color:#ffffff;
        font-weight:bold;
        margin-bottom:1rem;
        font-size:2.5rem;
    }

    &_small{
        font-size:1.3rem;
        font-weight:bold;
        color:rgba(255,255,255,.4);
    }

    &_input{
        width:100%;
        background:#ffffff;
        padding:2rem 6rem;
        border-radius:1rem;
        border:none;
        font-size:1.4rem;
        font-weight:bold;
        color:rgba(0,0,0,.5);
        

        &:focus{
            box-shadow:0px 4px 0px #28a745;
            outline:none;
        }
        
        &:focus:invalid{
            box-shadow:0px 4px 0px #ffc107;
            
        }
    }

    &_submit{
        position:absolute;
        padding:1.4rem 3rem;
        background:#0011FF;
        border:none;
        color:#ffffff;
        font-weight:bold;
        font-size:1.7rem;
        letter-spacing: 1px;
        border-radius:1rem;
        right:3%;
        top:-50%;
        transform:translateY(66%);
        cursor:pointer;   

        @media (max-width:500px){
            width:100%;
            position:relative;
            font-size:1.3rem;
            margin:0 auto;
            right:0;
        }
        
        &:active,
        &:visited{
            border:none;
            outline:none;
        }
    }

    


   
}

.dis{
    display:flex;
    flex-direction:column;
    
}

.h2{
    color:#ffffff;
    font-weight:bold;
    margin-bottom:1.5rem;
    text-transform: capitalize;
}

.p{
    color:rgba(255,255,255,.4);
    font-weight:bold;
    display:inline-block;
    
    &:not(:first-child){
        margin-top:1rem;
    }

    &:hover{
        text-decoration:none;
        color:#ffffff;
    }

    
}

.a{
    display:inline-block;
    text-decoration:none;
    &:not(:first-child){
        margin-left:1rem;
    }

    
}

.p2:hover{
    color:rgba(255,255,255,.4);
}

.img{
    width:2rem;
    height:2rem;
    margin-right:1rem;
    display:inline-block;
}

